{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Agent {{username}}'s Homepage</h1>
</div>

    {{ labels1 }}
    {{ dataset1 }}
    {{ posts }}
<div>
  <h3>My Upcoming Flight(s)</h3>
  <table class="table" style="color:white">
    <thead>
      <tr>
        <th scope="col">Ticket ID</th>
        <th scope="col">Flight</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col">Arrival Time</th>
      </tr>
    </thead>
    <tbody>
    {% for line in posts %}
    <tr>
      <td>{{line.ticket_id}}</td>
      <td>{{line.airline_name}} {{line.flight_num}}</td>
      <td>{{line.departure_airport}}</td>
      <td>{{line.departure_time}}</td>
      <td>{{line.arrival_airport}}</td>
      <td>{{line.arrival_time}}</td>
    </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
<br/>
<div>
  <h3>Booking Agent Stats</h3>
  <table class="table" style="color:#ffffff">
    <thead>
      <tr>
        <th scope="col">Sum of Commission</th>
        <th scope="col">Average Sale Price</th>
        <th scope="col">Total Sales</th>
      </tr>
    </thead>
    <tbody>
    <tr>

      <td>{{sum_sales}}</td>
      <td>{{avg_sales}}</td>
        <td>{{ num_sales }}</td>
    </tr>
    </tbody>
  </table>
</div>
    <div>
<form class="form" method="POST">
    {{ flights_form.hidden_tag() }}
  <h3 class="form-heading">
    Change View of Upcoming Flight Table:
  </h3>
  <h4>(Default Range is Departing Flights in the next year: )</h4>
  {{ flights_form.fromDate1(class_ = 'form-control first-input', placeholder = flights_form.fromDate1.label.text, required = true, autofocus = true) }}
  {{ flights_form.toDate1(class_ = 'form-control last-input', placeholder = flights_form.toDate1.label.text, required = true) }}
      {{ flights_form.submit1(class="btn btn-lg btn-block btn-primary") }}
  </form>
</div>
<div>
  <form class="form" method="POST">
      {{ form.hidden_tag() }}
  <h3 class="form-heading">
    My Spending is: <strong> {{mySpending}} </strong>
  </h3>
  <h4>(Default Range is last 6 month, or choose range in between: )</h4>
  {{ form.fromDate(class_ = 'form-control first-input', placeholder = form.fromDate.label.text, required = true, autofocus = true) }}
  {{ form.toDate(class_ = 'form-control last-input', placeholder = form.toDate.label.text, required = true) }}
      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
  </form>
</div>
<br/>

<div>
  <h3> Sales Chart:</h3>

</div>

<script>
    let labels1 = JSON.parse({{ labels1|tojson }});
    let dataset1 = JSON.parse({{ dataset1|tojson }});
    var data1 = {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
        labels: labels1,
        datasets: [{
          label: 'Sales',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: dataset1
        }],
      },

      // Configuration options go here
      options: {}
    }
    var ctx1 = document.getElementById("myChart1").getContext('2d');
    var myChart1 = new Chart(ctx1, data1);
</script>
<canvas id="myChart1"></canvas>
    <div>
  <h3> Sales Chart:</h3>

</div>

<script>
    var data2 = {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
        labels: {{labels2|safe}},
        datasets: [{
          label: 'Commission',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{dataset2}}
        }]
      },

      // Configuration options go here
      options: {}
    }
    var ctx2 = document.getElementById("myChart2").getContext('2d');
    var myChart2 = new Chart(ctx2, data);
</script>
      <canvas id="myChart2"></canvas>
{% endblock %}