{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Customer {{username}}'s Homepage</h1>
</div>
<div>
  <h3>My Upcoming Flight(s)</h3>
  <table class="table" style = "color:#ffffff">
    <thead>
      <tr>
        <th scope="col">Ticket ID</th>
        <th scope="col">Flight</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col">Arrival Time</th>
      </tr>
    </thead>
    <tbody>
    {% for line in posts %}
    <tr>
      <td>{{line.ticket_id}}</td>
      <td>{{line.airline_name}} {{line.flight_num}}</td>
      <td>{{line.departure_airport}}</td>
      <td>{{line.departure_time}}</td>
      <td>{{line.arrival_airport}}</td>
      <td>{{line.arrival_time}}</td>
    </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
<br/>

<div>
  <form class="form" method="POST">
      {{ form.hidden_tag() }}
  <h3 class="form-heading">
    My Spending is: <strong> {{mySpending}} </strong>
  </h3>
  <h4>(Default Range is last year, can also choose a range in between: )</h4>
  {{ form.fromDate(class_ = 'form-control first-input', placeholder = form.fromDate.label.text, required = true, autofocus = true) }}
  {{ form.toDate(class_ = 'form-control last-input', placeholder = form.toDate.label.text, required = true) }}

      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
  </form>
</div>
<br/>

<div>
  <h3> Sales Chart:</h3>

</div>
{% if data is defined%}
  <canvas id="myChart1"></canvas>
<script>
    let labels1 = JSON.parse({{ labels|tojson }});
    let dataset1 = JSON.parse({{ data|tojson }});
    var data1 = {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
        labels: labels1,
        datasets: [{
          label: 'Sales',
          backgroundColor: 'rgb(80, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: dataset1
        }],
      },

      // Configuration options go here
      options: {}
    }
    var ctx1 = document.getElementById("myChart1").getContext('2d');
    var myChart1 = new Chart(ctx1, data1);
</script>
{% endif %}
{% endblock %}