<style>
  .modal-content {
    background-color: #212121
  }
</style>

<!-- Purchase Confirm -->
<div class="modal fade" id="Modal-PurchaseConfirm-flight #{{ flight_num }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <!-- -->
          {{airline_name}}
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ purchase_form.hidden_tag() }}
          <h4 class="text-center">
            Are you sure you want to buy flight #{{ flight_num }} for {{price}}$ ?
          </h4>
          <br>
          <h6 class="text-center">
            By clicking Purchase, you will purchase this flight.
          </h6>
          <br>
          <input id="purchased_flight" name="purchased_flight" type="hidden" value="{{ flight_num }}">
          {{ purchase_form.submit0(class="btn btn-outline-success btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Modal-AgentPurchaseConfirm-{{ flight_num }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <!-- -->
          {{airline_name}}
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ purchase_form.hidden_tag() }}
          <h4 class="text-center">
            Are you sure you want to buy flight #{{ flight_num }} for {{price}}$ ?
          </h4>
          <br>
          <h6 class="text-center">
            By clicking Purchase, you will purchase this flight for your customer.
          </h6>
          <br>
          <input id="purchased_flight" name="purchased_flight" type="hidden" value="{{ flight_num }}">
            {{ purchase_form.email1(class_ = 'form-control first-input', placeholder = purchase_form.email1.label.text, required = true) }}
          {{ purchase_form.submit0(class="btn btn-outline-success btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>