{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Fvector-art%2F2205987-login-form-icon&psig=AOvVaw059RMrfL3_gvL6QNJDyEgW&ust=1650958117322000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCLjkw7fYrvcCFQAAAAAdAAAAABAS" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>

            {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
            {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
            {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
            {{ form.confirm(class_ = 'form-control', placeholder = form.confirm.label.text, required = true) }}
            {{ form.building_number(class_ = 'form-control', placeholder = form.building_number.label.text, required = true) }}
            {{ form.street(class_ = 'form-control', placeholder = form.street.label.text, required = true) }}
            {{ form.city(class_ = 'form-control', placeholder = form.city.label.text, required = true) }}
            {{ form.state(class_ = 'form-control', placeholder = form.state.label.text, required = true) }}
            {{ form.phone_number(class_ = 'form-control', placeholder = form.phone_number.label.text, required = true) }}
            {{ form.passport_number(class_ = 'form-control', placeholder = form.passport_number.label.text, required = true) }}
            {{ form.passport_expiration(class_ = 'form-control', placeholder = form.passport_expiration.label.text, required = true) }}
            {{ form.passport_country(class_ = 'form-control', placeholder = form.passport_country.label.text, required = true) }}
            {{ form.birth(class_ = 'form-control last-input', placeholder = form.birth.label.text, required = true) }}

            <br>ç

            <div class="checkbox mb-3">
               <h6>Already have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br/>
              <p class="pull-none"><a href="{{ url_for('register.register_agent') }}">Register as Agent</a></p>
              <br/>
              <p class="pull-none"><a href="{{ url_for('register.register_staff') }}">Register as Staff</a></p>
        </form>
    </div>
</body>
{% endblock %}