{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4"
                src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Fvector-art%2F2205987-login-form-icon&psig=AOvVaw059RMrfL3_gvL6QNJDyEgW&ust=1650958117322000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCLjkw7fYrvcCFQAAAAAdAAAAABAS"
                alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>

            {{ form.apple_id(class_ = 'form-control first-input', placeholder = form.apple_id.label.text, required = true,
            autofocus = true) }}
            {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
            {{ form.credit_card(class_ = 'form-control', placeholder = form.credit_card.label.text, required = true) }}

            <br>ç

            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}