{% extends 'base.html' %}
{% block title %}
    Andrew Airlines
{% endblock %}

{% block content %}
<form class="form" method="POST">
    {{ form.hidden_tag() }}
  <h3 class="form-heading">
    Search Filter
  </h3>

  {{ form.fromCity(class_ = 'form-control first-input', placeholder = form.fromCity.label.text, required = true, autofocus = true) }}
  {{ form.fromAirport(class_ = 'form-control last-input', placeholder = form.fromAirport.label.text, required = true) }}
  {{ form.fromDate(class_ = 'form-control last-input', placeholder = form.fromDate.label.text, required = true) }}
  {{ form.toCity(class_ = 'form-control last-input', placeholder = form.toCity.label.text, required = true) }}
  {{ form.toAirport(class_ = 'form-control last-input', placeholder = form.toAirport.label.text, required = true) }}
  {{ form.toDate(class_ = 'form-control last-input', placeholder = form.toDate.label.text, required = true) }}

    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

</form>
{% endblock %}